# Entorno virtual de Python
venv/
.env/

# Archivos de caché de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
/stock_manager.egg-info/
*.egg-info/


# Base de datos SQLite
# instance/stock.db

# Archivos de log o temporales
*.log
*.tmp

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de configuración locales (opcional)
*.sqlite3
